extends layout

block content
  h1= title
  p Welcome to #{title}
  p This is Praneetha Lakkam

  //- Block for server-side logic
  - let results = [
  -   { lamp_type: 'Desk Lamp', color: 'Blue', cost: 50 },
  -   { lamp_type: 'Floor Lamp', color: 'Black', cost: 150 },
  -   { lamp_type: 'Table Lamp', color: 'White', cost: 70 }
  - ]

  .container-fluid
    .row
      each lamp in results
        .col-sm-2
          div
            h4 Lamp Type: #{lamp.lamp_type}
            p Color: #{lamp.color}
            p Cost: $#{lamp.cost}

  //- Link back to the main page
  a(href="/lamps") Go to Lamp Search Results
